<section class="todoapp">
	<header class = "header">
		<h1>todos</h1>
		<form id="new-form">
			<input type="text" class="new-todo"/>
		</form>
		<input type="text" class="new-todo" placeholder="What needs to be done?" autofocus="">
	</header>

	<section class="main">
	<ul class="todo-list">
<!-- 		<% @tasks.each do |task| %>
 			<li>
				<div class="view">
					<input class="toggle" type="checkbox">
					<label><%=task.title%></label>
				</div> 
 

			 </li> 
		<% end %>
 -->	</ul>
	</section>

</section>

<% content_for :javascript do %>
  <%= javascript_include_tag 'tasks.js' %>
<% end %>